body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
table{
    margin:auto;
}
td{
    font-size: large;
    color: cadetblue;
    border: 1px solid white;
    padding: 5px;
    width: 40px;
    height: 40px;
    /* background-color: ; */
    
}
td.hidden:hover{
    background-color: rgb(58, 89, 79);
}


.cell{
   color: white;
    
}

.hidden{
    
    color: rgba(240, 248, 255, 0);
}
.fotter{
    color:brown;
}